.button {
  $button-color: rgb(245, 146, 4);
  background-color:$button-color;
  color: white;
  height: 30px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-style: none;

  &:hover {
    background-color: darken($button-color, 10%);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: darken($button-color, 15%);
  }

  &:disabled {
    background-color: lightgrey;
    color: black;
    cursor: not-allowed;
  }
}
