@import '../../../components/button/button.scss';

.record-section {
  margin-top: 20px;

  .button-text {
    width: 100px;
  }

  .stop-button,
  .record-button {
    display: inline-block;
  }

  .stop-button {
    .button {
      @include button(red);
    }
  }
}