.new-song-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;


  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .30);
  }

  .modal-content {
    background-color: white;
    width: 200px;
    margin-top: 100px;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
  }

  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .action-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}